<section class="full-width flex flex-col font-bricolage">
  <div class="w-full  px-6 lg:px-28 bg-[#FFF4DA] md:py-20 py-10">

    {% if section.settings.eyebrow != blank %}
      <p class="text-lg mx-auto md:text-2xl font-bold text-black">{{ section.settings.eyebrow }}</p>
    {% endif %}

    <div class="w-full flex justify-end">
      {% if section.settings.title != blank %}
        <h2 class="text-4xl md:text-6xl font-bold w-full text-right tracking-tight text-black max-w-2xl pt-4">{{ section.settings.title }}</h2>
      {% endif %}
    </div>


    {% if section.settings.text != blank %}
      <div class="flex justify-start max-w-2xl md:text-2xl text-xl text-neutral-800">
        {{ section.settings.text }}
      </div>
    {% endif %}
    </div>
    {% if section.settings.image %}
        <div class="w-full">
        <img src="{{ section.settings.image | image_url }}" alt="" class="zero-bs-image">
        </div>
    {% endif %}
</section>

{% schema %}
{
  "name": "Pledge Banner About Us 2",
  "settings": [
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Texto superior (eyebrow)",
      "default": "Our Zero B.S. Pledge"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Título",
      "default": "<p>Fourteen years ofcuration, decades of tradition.</p>"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Texto pequeño"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagen"
    }
  ],
  "presets": [
    {
      "name": "Pledge Banner About Us 2"
    }
  ]
}
{% endschema %}
