<section 
  class=" md:py-0 py-10 md:min-h-screen flex items-center justify-center text-white w-full full-width "
>
  {% if section.settings.image %}
    <img 
      src="{{ section.settings.image | image_url: width: 2500 }}"
      alt="Background image"
      width="{{ section.settings.image.width }}"
      height="{{ section.settings.image.height }}"
      class="w-full h-full object-contain md:w-4xl"
    >
  {% endif %}

</section>

{% schema %}
{
  "name": "Image About Us",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagen principal"
    }
  ],
  "presets": [
    {
      "name": "Image About Us"
    }
  ]
}
{% endschema %}
