/* Bricolage */
@font-face {
  font-family: 'Bricolage';
  src: url('https://cdn.shopify.com/s/files/1/0751/5966/6915/files/BricolageGrotesque-VariableFont_opsz_wdth_wght.ttf?v=1763478269') format('opentype');
  font-style: normal;
  font-display: swap;
}